@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  color: #234;
  line-height: 1.5;
  font-size: 1rem;
}
/* 追加 */
body.lock-scroll {
  overflow: hidden;
}

.wrap {
  margin: 2vh auto;
  max-width: 1440px;
}

.grid {
  max-width: 1400px;
  margin: 0 auto;
}

.grid-item {
  width: 300px;
  margin-bottom: 10px;
}

.grid-item img {
  width: 100%;
  height: auto;
}

.lazy {
  filter: blur(10px);
  transition: filter 1s;
}

@media screen and (max-width: 568px) {
  .grid {
    width: fit-content !important;
  }

  .grid-item {
    margin-bottom: 10px;
    position: initial !important;
    margin: auto;
    width: 96vw !important;
  }
}
